---
layout: handbook-page-toc
title: Growth:Acquisition Group
description: "The Growth:Acquisition group works on feature enhancements and growth experiments across GitLab projects"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Vision

The Acquisition Group is part of the [Growth Stage]. We work on [connecting our users with our product value](/direction/growth/).

* I have a question. Who do I ask?

Questions should start by @ mentioning the Product Manager for the [Acquisition group](/handbook/product/categories/#acquisition-group)
or creating a new issue in the Growth Product [Acquisition issues] list.

## Mission

The Growth:Acquisition Group works on product priorities and [growth deliverables](https://about.gitlab.com/handbook/product/growth/#growth-deliverables)
with our [Growth product managers](/handbook/product/growth/)
and contributes to Growth initiatives including the [Registration Flow](https://gitlab.com/groups/gitlab-org/-/epics/4745)
and [Continuous onboarding](https://gitlab.com/groups/gitlab-org/-/epics/4817).

## Team Members

The following people are permanent members of the Growth:Acquisition team:

<%= direct_team(manager_role: 'Fullstack Engineering Manager, Growth:Acquisition and Activation', role_regexp: /(Acquisition)/) %>

### Stable counterparts

We work directly with the following team members in the Growth:Acquisition group:

<%=
other_manager_roles = ['Director of Engineering for Growth, Sec, and Data Science','Senior Engineering Manager, Anti-Abuse, Govern, and Growth']
direct_managers_role = 'Fullstack Engineering Manager, Growth:Acquisition and Activation'
roles_regexp = /[,&] (Growth(?!:)|Growth:Acquisition)/

stable_counterparts(role_regexp: roles_regexp, direct_manager_role: direct_managers_role, other_manager_roles: other_manager_roles)
%>

## How we work

* We're data savvy
* In accordance with our [GitLab values]
* Transparently: nearly everything is public
* We get a chance to work on the things we want to work on
* Everyone can contribute; no silos

### Prioritization

Prioritization is a collaboration between Product, UX, Engineering, and Quality.

* We use the [ICE framework](/direction/growth/#growth-ideation-and-prioritization) for experiments
* We use [Priority](https://docs.gitlab.com/ee/development/contributing/issue_workflow.html#priority-labels)
  and [Severity](https://docs.gitlab.com/ee/development/contributing/issue_workflow.html#severity-labels) labels for bugs
* We use [planning issues](https://gitlab.com/gitlab-org/growth/team-tasks/-/issues/?sort=created_date&state=all&label_name%5B%5D=Planning%20Issue&label_name%5B%5D=group%3A%3Aacquisition&first_page_size=20) to discuss work for upcoming milestones

<%= partial "handbook/engineering/metrics/partials/_cross_functional_dashboard.erb", locals: { filter_value: "Acquisition" } %>

### Workflow

We use the [Product Development workflow](/handbook/product-development-flow/) when working on issues and
merge requests across multiple projects.

We use the Acquisition development [workflow board](https://gitlab.com/groups/gitlab-org/-/boards/1506701?milestone_title=Any%20Milestone&label_name%5B%5D=group%3A%3Aacquisition)
for work in the build phase of the product development flow.

## Common Links

* [Growth Stage]
* [Acquisition issues]
* `#g_acquisition` in [Slack](https://gitlab.slack.com/archives/g_acquisition) (GitLab internal)

[Growth stage]: /handbook/engineering/development/growth/
[Acquisition issues]: https://gitlab.com/gitlab-org/growth/product/-/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=group%3A%3Aacquisition
